@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* DEFAULT RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Manrope", sans-serif;
}

.btn {
  padding: 15px 30px;
  border: none;
}

.container {
  color: white;
  width: 100%;
  height: 100%;
  background: url("../assets/home/mobile/image-header.jpg");
  background-size: contain;
}

/* NAVBAR */

.navbar {
  border-bottom: 0.5px solid #979797;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* HERO SECTION */
.hero-headline {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}

.headline-text {
  padding-bottom: 22px;
}

.hero-headline h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.28571px;
}

.hero-headline h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  opacity: 0.5;
}

.hero-headline h3 {
  opacity: 0.75;
  font-size: 15px;
  line-height: 25px;
  padding: 0 40px 25px 40px;
  font-weight: 500;
}

.hero-btn {
  background-color: #d87d4a;
  color: white;
<<<<<<< HEAD
  padding: 15px 30px;
  border: none;
=======
>>>>>>> 177fed50e7affd5e229fe00684461f7710bee1c4
}
/* SHOP SECTION */
.img-container {
  margin: 50px auto;
  text-align: center;
  height: 220px;
}

.img-thumbnail {
  width: 145px;
  height: 133px;
}

.box {
  border-radius: 8px;
  margin: 0 auto;
  padding: 25px;
  width: 330px;
  height: 165px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 80px;
  z-index: -1;
}

.box-title {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.box a {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.arrow {
  border: 2px solid #d87d4a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.25px;
  margin-left: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* PRODUCT SECTION */

.product-card {
  margin: 0 auto 1.5rem auto;
  text-align: center;
  width: 330px;
  border-radius: 8px;
}

.product-1 {
  margin-top: 6rem;
  height: 600px;
  background: #d87d4a;
}

.product-2 {
  background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  height: 320px;
}

.product-3 {
  height: 200px;
}

.product-img-1 {
  width: 170px;
  height: 210px;
}

.product-img-3 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.product-name,
.product-card .btn {
  margin: 1.5rem;
}

.speaker-name-2 {
  padding-top: 1.25rem;
}

.blk-btn {
  color: white;
  background-color: black;
}

.clr-btn {
  background-color: transparent;
  border: 1px solid black;
}

/* DESCRIPTION SECTION */
